<!DOCTYPE html>
<html>
<head>
  <title>Eduvate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'
</head>
<body>
<!--
  <div id="user_nav">	
	<nav class="navigation-bar" role="navigation">
	  <div class="navigation-bar-header">
	  	  <button type="button" class="btn btn-primary">Eduvate</button>
	      <a id="logo" href="/">Home</a>
	      <a id="logo" href="/home/about">About</a>
	      <a id="logo" href="/home/contact">Contact</a>
	  </div>
	</nav>
  </div>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
-->
  <%= yield %>

</body>
</html>